@using FarmacyMedic.Models.DTO;
@model IEnumerable<FarmacyMedic.Models.DTO.ProductDto>

@{
	ViewData["Title"] = "Product";
}
	<br />
<h1>Products</h1>
<br />
<p>
	<a asp-action="Create" class="btn btn-success" >Create Product</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Stock)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Name)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Description)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Stock)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Price)
				</th>
				<td>
					<a asp-action="Edit" class="btn btn-warning" asp-route-id="@product.Id">Edit</a> |
					<a asp-action="Details" class="btn btn-primary" asp-route-id="@product.Id">Details</a> |
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@product.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>