@model FarmacyMedic.Models.DTO.OrderCreationDto

<h2>Create Order</h2>

@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.DateCreation)
        @Html.EditorFor(model => model.DateCreation)
    </div>
    <div>
        @Html.LabelFor(model => model.ClientId)
        @Html.DropDownListFor(model => model.ClientId, (List<SelectListItem>)ViewBag.Clients, "Select Client")
    </div>

    <div>
        <h3>Products</h3>
        @for (int i = 0; i < ViewBag.Products.Count; i++)
        {
            <div>
                @Html.LabelFor(model => model.Products[i].ProductId)
                @Html.DropDownListFor(model => model.Products[i].ProductId, (List<SelectListItem>)ViewBag.Products, "Select Product")

                @Html.LabelFor(model => model.Products[i].Quantity)
                @Html.EditorFor(model => model.Products[i].Quantity)
            </div>
        }
    </div>

    <input type="submit" value="Create Order" />
}























@*@model FarmacyMedic.Models.DTO.OrderCreationDto

<h2>Crear Nueva Orden</h2>

<form id="orderForm" method="post" action="@Url.Action("Create", "Order")">
    <div class="form-group">
        <label for="DateCreation">Fecha de Creación:</label>
        @Html.TextBoxFor(m => m.DateCreation, new { type = "date", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ClientId">Cliente:</label>
        @Html.DropDownListFor(m => m.ClientId, (IEnumerable<SelectListItem>)ViewBag.Clients, new { @class = "form-control" })
    </div>
    <button type="submit" id="crearOrdenButton" class="btn btn-primary mt-3">Create Order</button>
   
</form>


<partial name="Products"  />


<button type="submit" id="crearOrdenButton" class="btn btn-primary mt-3">Create Order</button>





<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRPifzW3RAwTbkkW8nx9vOtl1TkpTd7Fzj2HXM1Bt" crossorigin="anonymous"></script>

@section scripts {
            <script>
        
        </script>
}





*@










@*@model FarmacyMedic.Models.DTO.OrderCreationDto

<h1>Create New Order</h1>

<h2>Nueva Orden</h2>
<form method="post" asp-action="Create">
    <div class="form-group">
        <label for="DateCreation">Fecha de Creación:</label>
        <input type="date" class="form-control" id="DateCreation" name="DateCreation" asp-for="DateCreation" required>
    </div>
    <div class="form-group">
        <label for="ClientId">ID del Cliente:</label>
        <input type="number" class="form-control" id="ClientId" name="ClientId" asp-for="ClientId" required>
    </div>
    <button type="submit" value="Create" class="btn btn-primary">Crear Orden</button>
</form>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
*@