@model FarmacyMedic.Models.DTO.OrderDto

<h2>Order Details</h2>

<p><strong>Order ID:</strong> @Model.Id</p>
<p><strong>Date:</strong> @Model.DateCreation</p>
<p><strong>Client:</strong> @Model.Client.Name</p>

<h3>Products</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productDetail in Model.ProductDetail)
        {
            <tr>
                <td>@productDetail.Product.Name</td>
                <td>@productDetail.Quantity</td>
                <td>@productDetail.Product.Price</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Back to List</a>

