@*@model FarmacyMedic.Models.DTO.OrderDto

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Details</h1>

@if (Model == null)
{
    <p>Order not found.</p>
}
else
{
    <div>
      
        <h2>Order ID: @Model.Id</h2>
        <p>Order Date: @Model.DateCreation.ToShortDateString()</p>
        <p>Customer Name: @Model.ClientId</p>

        <h3>Ordered Products:</h3>
        <ul>
            @foreach (var orderProduct in Model.ProductDetail)
            {
                <li>@orderProduct.Product.Name - Quantity: @orderProduct.Quantity</li>
            }
        </ul>
  
    </div>
}

<p>
    <a asp-action="Index">Back to Orders List</a>
</p>








*@