@model FarmacyMedic.Models.DTO.InvoiceCreacionDto


<h2>Create Invoice</h2>

<div>
    @Html.LabelFor(model => model.OrderId)
    @Html.DropDownListFor(model => model.OrderId, (List<SelectListItem>)ViewBag.Orders, "Select Order")
</div>
<div>
    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)
</div>
@*<div>
    @Html.LabelFor(model => model.State)
    <select asp-for="State" asp-items="Html.GetEnumSelectList<InvoiceState>()">
        <option value="">Select State</option>
    </select>
</div>*@
<div>
    <h3>Order Details</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDetail in ViewBag.OrderDetails)
            {
                <tr>
                    <td>@productDetail.Product.Name</td>
                    <td>@productDetail.Quantity</td>
                    <td>@productDetail.Product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<input type="submit" value="Create Invoice" />