@using FarmacyMedic.Models.DTO;
@model IEnumerable<FarmacyMedic.Models.DTO.InvoiceDto>


<h1>Invoice</h1>
<p>
	<a asp-action="Create" class="btn ">Create</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalAmount)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<th>
					@Html.DisplayFor(m=>product.Date)
				</th>
				<th>
					@Html.DisplayFor(m=>product.State)
				</th>
				<th>
					@Html.DisplayFor(m=>product.OrderId)
				</th>
				<th>
					@Html.DisplayFor(m=>product.TotalAmount)
				</th>

				<td>
					<a asp-action="Edit" class="btn btn-warning" asp-route-id="@product.Id">Edit</a> |
					<a asp-action="Details" class="btn btn-primary" asp-route-id="@product.Id">Details</a> |
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@product.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>