@model FarmacyMedic.Models.DTO.ClientCreationDto

@{
    ViewData["Title"] = "Create Client";
}

<br />
<h1 class="col-md-12 text-center">Create Product</h1>
<br />
@using (Html.BeginForm("Create", "Client"))
{
    <div>
        <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Code)
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control", required = "required" })
                </div>
        <div class="form-group col-md-6" ">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" , required = "required"})
                </div>
        <div class="form-group col-md-6" ">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                </div>
        <div class="form-group col-md-6" ">
                    @Html.LabelFor(model => model.Phone)
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" , required = "required"})
                </div>
        <div class="form-group col-md-6" ">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" , required = "required"})
                </div>
                <br>
         <div>
              <button type="submit" value="Create Client" class="btn btn-primary">Create</button>
        </div>
    </div>
}

@if (ViewBag.ProductCreated != null)
{
    <div class="alert alert-success">
        Product created successfully!
    </div>
}