@using FarmacyMedic.Models.DTO;
@model IEnumerable<FarmacyMedic.Models.DTO.ClientDto>

@{
	ViewData["Title"] = "Client";
}

<h1 class="">Clients</h1>
<br />
<p>
	<a asp-action="Create" class="btn btn-success ">Create</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Code)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr >
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Code)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Name)
				</th >
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Email)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Phone)
				</th>
				<th style=" font-weight: normal;">
					@Html.DisplayFor(m=>product.Address)
				</th>
				<td>
					<a asp-action="Edit" class="btn btn-warning" asp-route-id="@product.Id">Edit</a> |
					<a asp-action="Details" class="btn btn-primary" asp-route-id="@product.Id">Details</a> |
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@product.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>

</table>